{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <img src="https://logoipsum.com/logo/logo-1.svg" width="325px" />
          <form method="POST" action="/login">
            {% if error is defined %}
            <div class="field">
              {{ error }}
            </div>
            {% endif %}
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="text" placeholder="hello@example.com" autocomplete="username" name="username" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" name="password" required />
              </div>
            </div>
            <br />
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Login
            </button>
          </form>

        </div>
      </div>
    </section>
    
{% endblock %}