
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-static" type="text" value="" name="title">
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="field-label is-normal">
      <label class="label">Description</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="e.g. Hello world"  name="description"></textarea>
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="photofile">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>